@import url("content.css");
:root {
  --darkgray: #020202;
  --brightred: #f9423d;
  --white: #fff;
  --lightred: #f5578ce5;
  --lightblue: #337af1;
  --gray: #444; /* Adding a mid-tone gray for better contrast */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oleo Script", sans-serif;
}
body {
  background-color: var(--darkgray);
}
html {
  scroll-behavior: smooth; /* Enables smooth scrolling on the page */
}

.nav-container {
  width: 100%;
  position: fixed;
  z-index: 999;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  margin: 0 auto;
  background-color: #020202fa;
}

.left,
.right {
  flex: 1; /* Allow both left and right sections to take equal space */
}

.center {
  flex: 0 1 auto; /* Let center take only the space it needs */
  text-align: center; /* Center align text in the center section */
  display: flex;
  flex-direction: row;
}
.right {
  width: 40px;
  text-align: right;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 10px 15px; /* Adding padding for better touch target */
  transition: color 0.3s ease;
}
.links {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 10px 15px; /* Adding padding for better touch target */
}
.links:hover {
  cursor: auto;
}
.nav-links:hover {
  color: var(--brightred);
  transition: all 0.2s ease-out;
}
.nav-links-btn {
  background-color: var(--brightred);
  padding: 6px 15px;
  border-radius: 4px;
}
.nav-links-btn:hover {
  background-color: transparent;
  color: var(--white);
  padding: 5px 14px;
  border-radius: 4px;
  border: solid 1px var(--brightred);
  transition: all 0.3s ease-out;
}
.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background: var(--white);
}
#main-img {
  height: 50px;
  width: 50px;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .nav-container {
    position: relative;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--brightred);
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }
  #navbar-logo {
    margin-left: 20px;
  }
  .nav-menu.active {
    background: var(--darkgray);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: var(--brightred);
    color: var(--white);
    transition: all 0.4s ease-out;
  }
  .navbar {
    width: 100%;
  }
  .nav-links-btn {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--darkgray);
    color: var(--white);
    transition: all 0.4s ease-in-out;
  }
  .nav-links-btn:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--brightred);
    color: var(--white);
    transition: all 0.4s ease-in-out;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
    transition: 0.5s ease-in-out;
  }
  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }
  .menu-toggle:hover {
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
    transition: 0.5s ease-out;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: 0.5s ease-in-out;
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.5s ease-in-out;
  }
}
